body {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 5px;
}


/* Header */

#title {
    text-align: center;
    font-size: 50px;
}


/* END Header */


/* GAME AREA*/

#gameDisplay {
    border: 1px solid #000000;
    font-size: 30px;
    text-align: center;
    margin: 10px auto;
}


/* Button */

#start {
    text-align: center;
    padding: 10px;
    color: #ffffff;
    background-color: #f8cb46;
    border: none;
    border-radius: 8px;
}

#start:hover {
    background-color: #e72727;
    color: #ffffff;
}


/* END Game Area */