body {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 5px;
    background-color: #000000;
    color: #ffffff;
}


/* Header */

#title {
    text-align: center;
    font-size: 50px;
    padding: 50px;
}

h2 {
    padding-top: 25px;
}

h3 {
    padding-top: 25px;
    font-size: 30px;
}


/* END Header */


/* GAME AREA*/

#gameDisplay {
    border: 1px solid #000000;
    font-size: 30px;
    text-align: center;
    margin: 10px auto;
}

.choices {
    padding: 25px;
}


/* Button */

#start {
    text-align: center;
    padding: 10px;
    color: #000000;
    background-color: #ffffff;
    border: none;
    border-radius: 8px;
}

#start:hover {
    background-color: #9c37fa;
    color: #ffffff;
}


/* END Game Area */